{% extends "base.html" %}

{% block title %}Home | Acervo Eva{% endblock %}

{% block body %}
  <header>
            <div class="container">
                <img src="{{ url_for('static', filename='imgs/logo.png') }}"  alt="logo"  width="30" height="50" class="logo">
          
                <nav>
                <ul class="nav__list">
                    <li class="nav__item"><a href="#home" class="nav__link">Página principal</a></li>
                    <li class="nav__item"><a href="#services" class="nav__link">Meus Serviços</a></li>
                    <li class="nav__item"><a href="#about" class="nav__link">Sobre mim</a></li>
                    <li class="nav__item"><a href="#work" class="nav__link">Meu trabalho</a></li>
                    <li class="nav__item"><a href="produtos.html" class="nav__link">Produtos disponíveis</a></li>
                </ul>
            </nav>
        </div>
        </header>
 
        <!-- Introduction -->
        <section class="intro" id="home">
            <h1 class="section__title section__title--intro">
                Olá eu sou a  <strong>Tatiane Santos</strong>
            </h1>
            <p class="section__subtitle section__subtitle--intro">Artesã.Pedagoga.Professora</p>
            
            <img src="{{ url_for('static', filename='imgs/img2.jpg') }}" alt=""  width="370" height="480">

        </section>
        
        
        <!-- My services -->
        <section class="my-services" id="services">
            <h2 class="section__title section__title--services">Meus Serviços</h2>
            <div class="services">
                <div class="service">
                    <h3>Peças personalizadas</h3>
                    <p>Faço encomendas personalizadas de acordo com suas próprias ideias e referências. Essas peças são únicas e serão feitas a mão e com muito carinho.</p>
                </div> <!-- / service -->
                
                <div class="service">
                    <h3>Aulas práticas e workshops</h3>
                    <p>Dou aulas particulares de cerâmica manual no meu ateliê onde iremos trabalhar sua técnica de cerâmica desde a modelagem, até a esmaltação e queima.</p>
                </div> <!-- / service -->
                
                <div class="service">
                    <h3>Cursos online</h3>
                    <p>Além dos cursos disponíveis gratuitamente, patrocinados pelo ministério da cultura, Ofereço aulas e consultoria online sobre cerâmica e todos seus fundamentos.</p>
                </div> <!-- / service -->
            </div> <!-- / services -->
            
            <a href="#work" class="btn">Meu trabalho</a>
        </section>
        
        
        <!-- About me -->
        <section class="about-me" id="about">
        <h2 class="section__title section__title--about">Quem sou eu? </h2>
           <p class="section__subtitle section__subtitle--about">Artesã e professsora, direto de jataí para Goiânia</p>
           
           <div class="about-me__body">
               <p>Formada em 2018 em pedagogia e em 2019 em artes plásticas, tenho anos de experiência de trabalho com educação e logosofia hoje me dedico em tempo integral a minha paixão, a cerâmica e as artes. Me formei em artes plásticas no instituto Basileu Frânça, lugar que desenvolvi minha identidade artística e minha paixão pela cerâmica..</p>
               <p>Sou dona da página do Instagram @AcervoEva e moro na cidade de Goiânia. Faço peças únicas e personalizadas e entrego para todo o Brasil. </p>
           </div>
           <img src="{{ url_for('static', filename='imgs/img.jpg') }}" alt="Tatiane" class="about-me__img"  width="400" height="500">
          
        </section>
        
        <!-- My Work -->
        <section class="my-work" id="work">
            <h2  class="section__title section__title--work">Meus trabalhos</h2>
            <h5 class="section__subtitle section__subtitle--work"> Um pouco da minha identidade visual</h5>
            
            <div class="portfolio">
                <!-- Portfolio item 01 -->
                <a href="#" class="portfolio__item">
                    <img src="{{ url_for('static', filename='imgs/img6.jpg') }}" alt=""  class="portfolio__img">
                </a>
                
                <!-- Portfolio item 02 -->

                <a href="#" class="portfolio__item">
                    <img src="{{ url_for('static', filename='imgs/img4.jpg') }}"  alt=""  class="portfolio__img">
                </a>
                
                <!-- Portfolio item 03 -->
                <a href="#" class="portfolio__item">
                    <img src="{{ url_for('static', filename='imgs/img5.jpg') }}" alt=""  class="portfolio__img">
                </a>
                
                <!-- Portfolio item 04 -->
                <a href="#" class="portfolio__item">
                    <img src="{{ url_for('static', filename='imgs/img7.jpg') }}"  alt=""  class="portfolio__img">
                </a>
                
                
                <!-- Portfolio item 06 -->
                <a href="#" class="portfolio__item">
                    <img src="{{ url_for('static', filename='imgs/img9.jpg') }}"  alt="" class="portfolio__img">
                </a>
                
                <!-- Portfolio item 07 -->
                <a href="#" class="portfolio__item">
                    <img src="{{ url_for('static', filename='imgs/img10.jpg') }}"  alt="" class="portfolio__img">
                </a>
                
                <!-- Portfolio item 08 -->
                <a href="#" class="portfolio__item">
                    <img src="{{ url_for('static', filename='imgs/img11.jpg') }}"  alt="" class="portfolio__img">
                </a>
                
                
                <!-- Portfolio item 0 0-->
                <a href="#" class="portfolio__item">
                    <img src="{{ url_for('static', filename='imgs/img14.jpg') }}"  alt="" class="portfolio__img">
                </a>

                 <!-- Portfolio item 09 -->
                 <a href="#" class="portfolio__item">
                    <img src="{{ url_for('static', filename='imgs/img3.jpg') }}"  alt="" class="portfolio__img">
                     <!-- Portfolio item 0 0-->
                <a href="#" class="portfolio__item">
                    <img src="{{ url_for('static', filename='imgs/img13.jpg') }}"  alt="" class="portfolio__img">
                </a>
                <a href="#" class="portfolio__item">
                    <img src="{{ url_for('static', filename='imgs/img15.jpg') }}"  alt="" class="portfolio__img">
                </a>
                <a href="#" class="portfolio__item">
                    <img src="{{ url_for('static', filename='imgs/img16.jpg') }}"  alt="" class="portfolio__img">
                </a>
            </div>
        </section>
        
        
        <!-- Footer -->
        <footer>

            <ul class="social-list">
            
                <li class="social-list__item">
                    <a class="social-list__link" href="http://dribbble.com">
                        <i class="fab fa-dribbble"></i>
                    </a>
                </li>
                <li class="social-list__item">
                    <a class="social-list__link" href="https://twitter.com">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
               
            </ul>
        </footer>
      <script src="{{ url_for('static', filename='js/index.js') }}"></script>
        
{% endblock %}